.sapMShellGlobalOuterBackground {
    background: linear-gradient(AliceBlue, white);
}

.MainBox {
    background: linear-gradient(darkgray, gray, Lightgray);
}

.btnList {
    padding: 4% 4% 4% 4%;
    background: transparent;
    border: 0;
}

.sapMListBGSolid .sapMLIB {
    background: transparent;
}

.sapMPanel>.sapMPanelHdr,
.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
    border-bottom: none;
}

.sapMLIB {
    border-bottom: none;
}

.sapMPanelHdr {
    font-weight: normal;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    color: #333333;
    background-color: transparent;
}

.lgnpg {
    background-image: url("../resources/o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#draggable {
    visibility: hidden;
}

.sapMIBar-CTX .sapMTitle {
    color: black;
}

.employeePhoto {
    border-radius: 25%;
    width: 50%;
    height: 60%;
}

.employeePhoto:hover {
    width: 70%;
    height: 80%;
}

.infoLabels {
    color: rgb(255, 255, 47);
}

.options {
    color: beige;
    width: 25%;
}

.orderpg {
    background: linear-gradient(to right, black, white);
}

.itemsBar {
    background: #f5f5dc;
    padding-top: 1%;
    padding-bottom: 1%;
}

.detailsLabels {
    color: black;
}

.employeeDetail {
    background: linear-gradient(#6495ED, white, #6495ED);
}

.mealsNo {
    background: #0f0f0f;
    padding: 3%;
    background-color: white;
}

.mealsNo:hover {
    background-color: #66FFCC;
}

.optionsBox {
    padding: 3% 1% 1% 1%;
}

.DisclaimerArea {
    position: absolute;
    bottom: 5rem;
}